.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 1050px;
  border: 1px solid #99baca;
  border-radius: 3px;

  > .th {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #99baca;
    font-weight: bold;

    > .td {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #b1dfbb;
      height: 50px;

      > div {

      }
    }
  }

  > .tr {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: 1px solid #99baca;

    &:last-child {
      border-bottom: none;
    }

    > .td {

      > div {
        height: 40px;
        padding: 10px 0 10px 0;
      }
    }
  }

  .td {
    border-right: 1px solid #99baca;
    padding: 0 10px 0 10px;
    box-sizing: border-box;

    &:last-child {
      border-right: none;
    }

    > div {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .td:nth-child(1) {
    min-width: 60px;
    max-width: 60px;
  }
  .td:nth-child(2) {
    flex-grow: 1;
    min-width: 250px;
  }
  .td:nth-child(3) {
    min-width: 250px;
    max-width: 250px;
  }
  .td:nth-child(4) {
    min-width: 120px;
    max-width: 120px;
  }
  .td:nth-child(5) {
    min-width: 180px;
    max-width: 180px;
  }
  .td:nth-child(6) {
    min-width: 120px;
    max-width: 120px;
  }
  .td:nth-child(7) {
    min-width: 60px;
    max-width: 60px;
  }
}