.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.table {
  display: flex;
  flex-direction: column;
  border: 1px solid #99baca;
  border-radius: 3px;

  > .th {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #99baca;
    font-weight: bold;

    > .td {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #b1dfbb;
      height: 50px;

      > div {

      }
    }
  }

  > .th {

    .td {
      border-right: 1px solid #99baca;
      padding: 0 10px 0 10px;
      box-sizing: border-box;

      &:last-child {
        border-right: none;
      }

      > div {
        display: flex;
        flex-direction: column;
      }
    }

    .td:nth-child(1) {
      width: 75px;
    }
    .td:nth-child(2) {
      flex-grow: 1;
      width: 400px;
    }
    .td:nth-child(3) {
      width: 400px;
    }
  }
}